<h1 class="heading">Your Bands <%= link_to "Start a new band", new_band_path, class: 'button' if current_manager == @manager %></h1>
<div class="band-listing">
  <% @bands.each do |band| %>
    <%= link_to band_path(band), class: 'band' do |link| %>
      <div class="status<% if band.activities.current_activity.try(:last) %> active<% end %>">
        <div class="info">
          <h3><%= band.name %></h3>
          <h4><%= band.genre.name %>: <%= band.genre.style %></h4>
          <h5><u><%= band.fans %></u> fans, <u><%= band.buzz %></u> buzz</h5>
        </div>
        <ul>
          <% band.members.each do |member| %>
          <li>
            <%= image_tag member.avatar_url %>
          </li>
          <% end %>
        </ul>
      </div>
      <% if band.activities.current_activity.try(:last) %>
      <div class="action"><%= band.activities.current_activity.try(:last).humanize_action %> for <u data-endtimes="<%= band.activities.current_activity.try(:last).ends_at %>"></u></div>
      <% end %>
    </a>
    <% end %>
  <% end %>
</div>