<% if @band.genre.min_members <= @band.members.count %>
<section class="profile-header band-profile">
  <div class="info">
    <div class="band-avatar">
      <ul class="band-members">
        <% @band.members.each do |member| %>
        <li>
          <%= image_tag member.avatar_url %>

          <div class="tooltip">
            <h6><%= member.name %></h6>
            <ul class="skills">
              <%= render partial: "skills/progress", locals: {skill_name: member.primary_skill.name, skill_level: member.skill_primary_level} %>
              <%= render partial: "skills/progress", locals: {skill_name: "Fatigue", skill_level: member.trait_fatigue, negative: true} %>
              <%= render partial: "skills/progress", locals: {skill_name: "Looks", skill_level: member.trait_looks} %>
              <%= render partial: "skills/progress", locals: {skill_name: "Creativity", skill_level: member.trait_creativity} %>
              <%= render partial: "skills/progress", locals: {skill_name: "Ego", skill_level: member.trait_ego, negative: true} %>
            </ul>
          </div>

        </li>
        <% end %>
      </ul>
    </div>
    <div class="about">
      <h1><%= @band.name %></h1>
      <h2><%= @band.genre.name %>: <%= @band.genre.style %></h2>
      <h3><u><%= @band.fans %></u> fans, <u><%= @band.buzz %></u> buzz</h3>
    </div>
  </div>
</section>
<section class="actions">
  <div class="action_items">
    <a href="#"
      ><b>Practice</b>
      <span>Improves the skill level of each member</span></a
    >
    <a href="#"><b>Gig</b> <span>Gain fans and make money</span></a>
    <a href="#"
      ><b>Write</b> <span>Needed to play gigs and grow fans</span></a
    >
    <a href="#"
      ><b>Record</b> <span>Gets a song ready to release</span></a
    >
    <a href="#"
      ><b>Promote</b>
      <span>Create videos, do interviews, press & more!</span></a
    >
    <a href="#"
      ><b>Rest</b>
      <span>Too fatigued? Rest, or bad things will happen</span></a
    >
  </div>
  <div class="choices">
    <h4>How long would you like to practice?</h4>
    <h5>
      The longer you practice the more skill points you may receive
    </h5>
    <ul>
      <li><a href="#">5 minutes</a></li>
      <li><a href="#">15 minutes</a></li>
      <li><a href="#">30 minutes</a></li>
      <li><a href="#">1 hour</a></li>
    </ul>
  </div>
</section>
<section class="activities">
  <div class="releases">
    <div class="latest">
      <h5>Latest Release</h5>
      <div class="release">
        <div class="album-art" data-seed="a" data-size="70"></div>
        <div class="details">
          <h6>Goth Keytar <small>43</small></h6>
          <span>April 20, 2018</span>
        </div>
      </div>
    </div>
    <div class="popular">
      <h5>Popular Releases</h5>
      <div class="release">
        <div class="album-art" data-seed="a" data-size="40"></div>
        <div class="details">
          <h6>Goth Keytar <small>43</small></h6>
          <span>1,582,194</span>
        </div>
      </div>
      <div class="release">
        <div class="album-art" data-seed="e" data-size="40"></div>
        <div class="details">
          <h6>Brunch Kale Chips <small>29</small></h6>
          <span>981,291</span>
        </div>
      </div>
      <div class="release">
        <div class="album-art" data-seed="f" data-size="40"></div>
        <div class="details">
          <h6>Mixtape Ramps <small>43</small></h6>
          <span>498,512</span>
        </div>
      </div>
    </div>
  </div>
  <div class="items">
    <nav>
      <ul class="tabs">
        <li>
          <a href="#" class="active" data-tab="tab-news">News</a>
        </li>
        <li><a href="#" data-tab="tab-songs">Songs</a></li>
        <li><a href="#" data-tab="tab-recordings">Recordings</a></li>
      </ul>
    </nav>
    <div class="tab-content news active" id="tab-news">
      <ol>
        <li class="event">
          <time>Less than 1 minute ago</time>
          <ol>
            <li class="type-positive">
              Sandy C. Shore's skill increased by 1
            </li>
            <li class="type-negative">
              Sandy C. Shore's fatigue increased by 2
            </li>
          </ol>
        </li>
        <li class="event">
          <time>19 hours ago</time>
          <ol>
            <li class="type-positive">
              Sandy C. Shore's fatigue decreased by 100
            </li>
          </ol>
        </li>
        <li class="event">
          <time>20 hours ago</time>
          <ol>
            <li class="type-positive">
              You gained 15 new fans and 100 buzz at your gig!
            </li>
            <li class="type-positive">
              You made ยง500 from 50 people at your gig!
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="tab-content songs" id="tab-songs">
      YO SONGS
    </div>
    <div class="tab-content recordings" id="tab-recordings">
      YO RECORDINGS
    </div>
  </div>
</section>
<% else %>
<div class="start">
  <h1><%=@band.name%> is very <%= @band.genre.style %> <%= @band.genre.name %> of you!</h1>
  <h2>Time to add the founding members!</h2>
  <div class="hire_members">
    <div class="allmembers">
      <%= render template: "bands/allmembers"  %>
    </div>
  </div>
</div>
<% end %>