<% if @band.genre.total_members <= @band.members.count %>
<section class="profile-header band-profile">
  <div class="info">
    <div class="band-avatar">
      <ul class="band-members" data-member-count="<%= @band.members.count %>">
        <% @band.members.each do |member| %>
        <li><%= image_tag member.avatar_url %></li>
        <% end %>
      </ul>
    </div>
    <div class="about">
      <h1><%= @band.name %></h1>
      <h2><%= @band.genre.name %>: <%= @band.genre.style %></h2>
      <h3><u class="data-fans"><%= @band.fans %></u> fans, <u class="data-buzz"><%= @band.buzz %></u> buzz</h3>
    </div>
  </div>
</section>
<% if @activity %>
  <section class="current_activity">
    <p>Currently: <%= @activity.humanize_action %> for <b data-endtimes="<%= @activity.ends_at %>"></b></p>
  </section>
  <% end %>
<section class="actions">
  <div class="action_items">
    <a href="#" class="active" data-choice="practice">
      <b>Practice</b>
      <span>Improves the skill level of each member</span>
    </a>
    <a href="#" class="active"><b>Gig</b> <span>Gain fans and make money</span></a>
    <a href="#" class="active"
      ><b>Write</b> <span>Needed to play gigs and grow fans</span></a
    >
    <a href="#" class="active"><b>Record</b> <span>Gets a song ready to release</span></a
    >
    <a href="#" class="active"
      ><b>Promote</b>
      <span>Create videos, do interviews, press & more!</span></a
    >
    <a href="#" class="active" data-choice="rest">
      <b>Rest</b>
      <span>Too fatigued? Rest, or bad things will happen</span>
    </a>
  </div>
  <div class="choices">
    <div class="choice" data-choice="practice">
      <h4>How long would you like to practice?</h4>
      <h5>
        The longer you practice the more skill points you may receive
      </h5>
      <ul>
        <li>
          <%= link_to "5 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '5') %>
        </li>
        <li><%= link_to "15 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '15') %></li>
        <li><%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '30') %></li>
        <li><%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '60') %></li>
      </ul>
    </div>
    <div class="choice" data-choice="rest">
      <h4>How long would you like to rest?</h4>
      <h5>
        Resting reduces fatigue and prevents mistakes.
      </h5>
      <ul>
        <li><%= link_to "5 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '5') %></li>
        <li><%= link_to "15 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '15') %></li>
        <li><%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '30') %></li>
        <li><%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '60') %></li>
      </ul>
    </div>
  </div>
</section>
<section class="activities">
  <!--
  <div class="releases">
    <div class="latest">
      <h5>Latest Release</h5>
      <div class="release">
        <div class="album-art" data-seed="a" data-size="70"></div>
        <div class="details">
          <h6>Goth Keytar <small>43</small></h6>
          <span>April 20, 2018</span>
        </div>
      </div>
    </div>
    <div class="popular">
      <h5>Popular Releases</h5>
      <div class="release">
        <div class="album-art" data-seed="a" data-size="40"></div>
        <div class="details">
          <h6>Goth Keytar <small>43</small></h6>
          <span>1,582,194</span>
        </div>
      </div>
      <div class="release">
        <div class="album-art" data-seed="e" data-size="40"></div>
        <div class="details">
          <h6>Brunch Kale Chips <small>29</small></h6>
          <span>981,291</span>
        </div>
      </div>
      <div class="release">
        <div class="album-art" data-seed="f" data-size="40"></div>
        <div class="details">
          <h6>Mixtape Ramps <small>43</small></h6>
          <span>498,512</span>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="items">
    <nav>
      <ul class="tabs">
        <li>
          <a href="#" class="active" data-tab="tab-news">News</a>
        </li>
        <!--
        <li><a href="#" data-tab="tab-songs">Songs</a></li>
        <li><a href="#" data-tab="tab-recordings">Recordings</a></li>
        -->
      </ul>
    </nav>
    <div class="tab-content news active" id="tab-news">
      <%= render template: "bands/happenings" %>
    </div>
    
    <div class="tab-content songs" id="tab-songs">
      YO SONGS
    </div>
    <div class="tab-content recordings" id="tab-recordings">
      YO RECORDINGS
    </div>
  </div>
</section>
<section class="member_management">
  <h5>Members</h5>
  <div class="member_list">
    <% @band.genre.skills.each do |genre_skill| %>
    <% member = @band.members.with_skill(genre_skill).first %>
    <div class="member">
      <div class="avatar">
        <%= image_tag member.avatar_url %>
      </div>
      
      <div class="details">
        <h4><%= member.name %></h4>
        <h5><%= as_game_currency(member.cost_generator) %><small>/day</small></h5>
        <ul class="skill_list">
          <%= render partial: "skills/progress", locals: {skill_name: "Instrument", skill_level: member.skill_primary_level} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Creativity", skill_level: member.trait_creativity} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Looks", skill_level: member.trait_looks} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Ego", skill_level: member.trait_ego, negative: true} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Fatigue", skill_level: member.trait_fatigue, negative: true} %>
        </ul>
        <div class="hire_footer">
          <%= link_to("Fire this member", member_path(member_id: member, band_id: @band), method: :delete, data: { confirm: "Are you sure you want to fire #{member.name}?" }, class: 'button button-small button-danger') if manager_signed_in? and @band.manager == current_manager %>
        </div>
      </div>      
    </div>
    <% end %>
  </div>
</section>
<% else %>
<div class="start">
  <h1><%=@band.name%> is very <%= @band.genre.style %> <%= @band.genre.name %> of you!</h1>
  <h2>Time to add the founding members!</h2>
  <div class="members">
    <div class="member_list">
      <%= render template: "bands/allmembers"  %>
    </div>
  </div>
</div>
<% end %>