<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Rockburg</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.typekit.net/bfh3gim.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>" data-id="<%= params[:id].to_i if params[:id].present? %>" class="<% if content_for?(:body_class) %><%= yield(:body_class) %><% end %>">
    <div class="wrapper">
      <header role="banner">
        <div class="logo">
          <%= link_to image_tag('logo-rockburg.svg',), root_path %>
        </div>
        <nav>
          <ul>
            <% if manager_signed_in? %>
            <li><%= link_to 'Your Bands', dashboard_path, class: 'active' %></li>
            <li><%= link_to 'Charts', charts_path %></li>
            <li><%= link_to 'Market', '#' %></li>
            <% else %>
            <li><%= link_to 'Sign Up', new_manager_registration_path %></li>
            <li><%= link_to 'Log In', new_manager_session_path %></li>
            <% end %>
          </ul>
        </nav>
        <% if manager_signed_in? %>
        <div class="aux">
          <div class="balance"><%= as_game_currency(current_manager.balance) %></div>
          <div class="info">
            <div class="hq">
              <a href="#"><i class="fas fa-building"></i></a>
            </div>
            <div class="xp">
              <div class="progress">
                <span>XP</span>
              </div>
            </div>
            <div class="avatar">
              <%= link_to image_tag(current_manager.avatar_url), manager_path(current_manager) %>
            </div>
          </div>
        </div>
        <% end %>
      </header>
      <div class="shell">
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <footer>
        <p>Got feedback? Want to contribute? <a href="https://github.com/Rockburg/rockburg">Rockburg is open source!</a> Created by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/rockburg/rockburg/graphs/contributors">our contributors</a>!</p>
      </footer>
    </div>
  </body>
</html>
