<% member = @member if @member.present? %>
<% if member.present? %>
  <div class="hired">
    <h4><%= member.primary_skill.name %></h4>
    <div class="avatar">
    <% if member.avatar_url.present? %>
      <%= image_tag member.avatar_url, class: 'card-img-top' %>
    <% end %>
    </div>
    <div class="details">
      <h4><%= member.name %></h4>
      <h5><%= as_game_currency(member.cost_generator) %><small>/day</small></h5>
      <%= link_to("Fire this member", member_path(member_id: member, band_id: @band), method: :delete, data: { confirm: "Are you sure you want to fire #{member.name}?" }, class: 'button button-small button-danger') if manager_signed_in? and @band.manager == current_manager %>
    </div>
  </div>
<% else %>
  <div class="to_hire">
    <h4><%= genre_skill.name %></h4>
    <%= link_to "Hire this member", band_skill_path(band_id: @band.id, id: genre_skill.id), class: 'button button-small' if manager_signed_in? and @band.manager == current_manager %>
  </div>
<% end %>